*{
  padding: 0;
  margin: 0;

}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("jsproject/loginbg.webp");
  background-position: center;
  background-repeat: no-repeat;
  
.calculator{
  background-color: transparent;
  backdrop-filter: blur(1.5rem);
  height: 30rem;
  box-shadow: .51rem .51rem 3rem  black;
  width: 85%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   border-radius: 5%;
   overflow: hidden;
   #display{
    height: 30%;
    width: 100%;
    font-size: 3rem;
    overflow: scroll;
    background-color:transparentize($color: gray, $amount: 0.4);
    border: none;
    color: black;
    border-bottom: 2px solid  whitesmoke;;
   }
   #display:focus{
    outline: none;
   }
   .key{
    height: 20rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    div{
      width: 90%;
      display: flex;
      justify-content: space-evenly;
      
      button{
        height: 4rem;
        width: 20%;
        margin: .1rem;
        border-radius: 1rem;
        
        box-shadow: .5rem .5rem .5rem rgb(76, 50, 50);
      }
      button:focus{
        outline: none;
        box-shadow: .5rem .5rem .5rem rgb(31, 29, 29);
       }
      
    }
   }
}
}
